
<p>AG Grid is a feature rich datagrid designed for the major JavaScript Frameworks. </p>

<b>Major Take away</b>
<br>
<br>
1. 3rd Patry API<br>
  2. CheckBox<br>
  3. Select Multiple rows<br>
  4. Sorting<br>
  5. Pagination<br>
  6. Resizable columns<br>
  7. Row Filter 

<br>
<br>

<ag-grid-angular
style="width: 80%; height: 700px;"
class="ag-theme-balham"
[rowData] = "rowData"
[columnDefs] = "columnDefs"
[defaultColDef]="defaultColDef"
rowSelection ="multiple"
[rowDragManaged]="true" 
[suppressMoveWhenRowDragging]="true"
[animateRows]="true"
></ag-grid-angular>

<!-- https://jsonplaceholder.typicode.com/todos/ -->

<!-- Add these 2 lines of code to enable Pagination. Row Drag wont work if pagination is enabled -->
<!-- 
[pagination]="true"
[paginationPageSize]="paginationPageSize" --> 

<!-- Add these 3 lines of code to enable row drag. Wont work if pagination is enabled. -->
<!-- [rowDragManaged]="true" 
    [suppressMoveWhenRowDragging]="true"
    [animateRows]="true" -->
